@font-face {
    font-family: Crete_Round ;
    src: url("../Crete_Round/CreteRound-Regular.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Crete_Round ;
}
/* nav Start */
/* .nav{
    box-shadow: 0px 0px 8px rgba(0,0 ,0 ,5  );
} */
.Logo{
    width: 200px;
    height: 150px;
    margin-top:5px;
    margin-left: 20px;
    /* margin-bottom: 10px; */

}
.navbar{
    /* float: left; */
    display: inline-block;
}
.nav ul{
    float: right;
}
.nav ul li{
    display: inline-block;
    margin-top: 80px ;
    margin-right: 40px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    color: red;

}
/* nav End */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.contact-parent{
    display:flex;
    margin:80px 0;
}

.contact-child{
    display:flex;
    flex:1;
    /* box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75); */
}

.child1{
    
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:black;
    padding:100px 0;
}

.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}

.child1 p span{
    font-size:16px;
    color:black;
}

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}

.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}

.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}

@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }

    .child1{
        display:none;
    }

    /* .child2{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size:cover;
    } */

    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
}
/* footer */
footer{
    margin-top: 50px;
    background-color: black;
    color: rgb(156, 151, 151);
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto 200px 200px auto;
    margin: 0px 80px;
}
.footer_title{
    
    margin-bottom: 10px;
}
.footer_nav{
    display: block;
    color: rgb(156, 151, 151);
    text-decoration: none;
    margin-bottom: 20px;
    padding-left: 30px;
}
.footer_address{
    margin-bottom: 10px;
}
.footer_icon{
    margin-right: 4px;
    display: inline-block;
}
.social{
    margin: 0px 5px;
    color:  rgb(156, 151, 151);
    display: inline-block;
}
/* end */


