@font-face {
    font-family: Crete_Round ;
    src: url("../Crete_Round/CreteRound-Regular.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Crete_Round ;
}
/* nav Start */
.nav{
    box-shadow: 0px 0px 8px rgba(0,0 ,0 ,5  );
}
.Logo{
    width: 200px;
    height: 150px;
    margin-top:5px;
    margin-left: 20px;
    /* margin-bottom: 10px; */

}
.navbar{
    /* float: left; */
    display: inline-block;
}
.nav ul{
    float: right;
}
.nav ul li{
    display: inline-block;
    margin-top: 80px ;
    margin-right: 40px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    color: red;

}
/* nav End */
/* Start Bunner */
.bunner_image{
    width: 100%;
}
.bunner_text{
    margin: 0px 20px;
    position: absolute;
    top: 350px;
    left: 100px;
    color: white;
    background-color:rgba(42, 40, 40, 0.6);
}
.bunner_text p{
    margin: 10px 20px ;
}
.show_now{
    margin: 0px 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: red;
    color: white;
    border: 1px solid red ;
}

/* End Bunner */

/* Start Support */
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;

}
.support div{
    display: inline-block;
}
.support div p{
    display: inline-block;
    margin-left: 5px;
}
.support div{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    /* font-weight: bold; */
}
.support div p span{
    /* font-weight: lighter; */
    color: gray;
}
/* End Support */
/* Start Promation */
.title{
    margin-top:50px ;
    margin-left: 80px;
    font-weight: unset;
}
.divided{
    width: 80px;
    margin-left:80px ;
    border: 2px solid red;
}
.promation{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 80px;
    margin-right: 80px;
    grid-gap: 30px;

}
.promation div img{
    width: 100%;
}
.promation-item{
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    
}
.product-name{
    text-align: center;
}
.promotion-discount{
    position: relative;
    bottom: 85%;
    /* left: 60%;
    right: 100%; */


}
.current-price{
    background-color: red;
    color: white;
    border-radius: 10%;
    width: 40%;
    text-align: center;
    /* font-size: 16px; */
}
.discount{
    text-decoration: line-through;
    color: red;
    font-size: 15PX;
}
/*start new Arrival */
.new-arrival{
      display: grid;
      grid-template-columns: auto auto auto auto;
      margin-left: 80px;
      margin-right: 80px;
      grid-gap: 20px;
      margin-top: 20px;

}
.new-arrival div{
    padding: 30px;
    box-shadow: 0px 8px 10px rgba(0,0 ,0 ,3  );
    border-radius: 5px;
    position: relative;

}
.divided-new{
     display: flex;
}
.new-arrival-image{
    width:100%;
}
.first-hr{
    width: 55%;
    display: inline-block;
    border: 2px solid red;
}
.second-hr{
    width: 55%;
    display: inline-block;
    border: 2px solid green;
    margin-left: -10px;
}
.new-price{
     float: right;
}
.new-project-name{
    margin-top: 50px;
}
.detail-btn{
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 7px 15px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    /* display: none; */
    opacity: 0;
}
.detail-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}
.new-arrival div:hover .detail-btn{
    opacity:1 ;
}
.new-arrival-image:hover{
    opacity: .6;
}
/* subscribe */
.subscribe{
    background-color: black;
    color: white;
    margin-top: 50px;
    height: 350px;
}
.subscribe div{
    padding-top: 60px;
    padding-left: 90px;
    float: left;
    width: 60%;
}
.subscribe div p{
    margin: 20px 0px 30px;
}
.subscribe-input{
    width: 300px;
    height: 50px;
    outline: none;
    border-radius: 6px 0px 0px 6px;
   

}
.subscribe-button{
    width: 100px;
    height: 55px;
    background-color: green;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}
.subscribe img{
    padding-top: 70px;
    width: 250px;
    /* right: 40px; */
}