h1{
    color: red;
    /*color: yellow; keyword*/
    /*color: #fffffff; r g h =>0->9->a->f hex code*/
    /*color: rgb(rgb(71, 65, 65), rgb(55, 65, 55), rgb(62, 62, 73));=>250*/
    text-align: center;
    font-size: 20px;
    width: 80%;
    /* background-color: red; */
}
/* {
    color: darkgoldenrod;
    font-style: italic;
    background-color: darkblue;
    
}

/* tags and elements selector */
h1 {
    text-align: center;
}

/* Attribute selector */
a[title="Google"]{
    color: black;
}
a[title="Facebook"]{
    color: blue;
}

/* ID selector */
#one {
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* class selector */
.two {
    color: gold;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 20px;
    text-transform: capitalize;
}

/* Descendent selector */
.desc a{
    color: darkorange;
}

/* Child selector */
.kid > a {
    color: azure;
}

/* pseudo selector */
a:link {
    color: brown;
    text-decoration: none;
}
a:hover {
    color: aqua;
    text-decoration: double;
}
a:active{
    color: blueviolet;
}
a:visited {
    color: chartreuse;
}
/* target */

p:target{
    color: blueviolet;
    border: 2px solid yellow;
}
/* border */
.borderone{
    border: 20px dotted green;
}
.bordertwo{
    border-bottom: 5px solid red;
    border-top: 20px dotted green;
}
.borderstyle{
    /* border-style: solid; */
    /* all Four T R B L */
    border-style: solid dotted;
    /* T&B / L&R */
    /* border-style: solid dotted double; */
    /* T / L & R/B */
    border-style: dashed solid dotted double;
    /* T / R / B / L */
}
.bordercolor{
    border-style: dotted;
    border-color: green;
}

.borderwidth{
    border-style: dotted;
    border-width: 20px;
}
/* margin */
.margin{
    border-style: double;
    border-color: blueviolet;
    border-width: 1px;
    /* margin: 40px ; */
    /* all four */
    /* margin: 30px 50px; */
    /* T&B / L&R  */
    /* margin: 10px 30px 50px; */
    /* T  /L&R/ B  */
    margin: 10px 30px 20px 40px;
    /* T / L/ B /R */

}
.margintwo{
    border: 10px dotted green;
    margin-left: 30px;
    /* margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 40px; */
}
/* padding */
.padding{
    border: 3px solid blue;
    padding: 50px;
}









